body {
  font-family: Arial, sans-serif;
  background: #f4f6f9;
}

.app {
  width: 420px;
  margin: 70px auto;
  background: white;
  padding: 25px;
  border-radius: 8px;
}

input, select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

li {
  padding: 8px;
  border-bottom: 1px solid #eee;
}

mark {
  background: yellow;
}
